<nav class="z-5 bg-gray-700">
  <ul class="flex flex-col sm:flex-row text-white justify-center">
    <li>
      <a class="hover:bg-orangelec transition-all py-4 px-5 block uppercase" href="{{ path('homepage') }}">Accueil</a>
    </li>
    <li>
      <a class="hover:bg-orangelec transition-all py-4 px-5 block uppercase" href="{{ path('teams_list') }}">Les équipes</a>
    </li>
    <li>
      <a class="hover:bg-orangelec transition-all py-4 px-5 block uppercase" href="{{ path('players_list') }}">Les joueurs</a>
    </li>
    <li>
      <a class="hover:bg-orangelec transition-all py-4 px-5 block uppercase" href="{{ path('dream_team_index') }}">Les dream teams</a>
    </li>
    <li>
      {% if is_granted('ROLE_USER') %}
        <a class="hover:bg-orangelec transition-all py-4 px-5 block uppercase" href="{{ path('dream_team_new') }}">Créer ma dreamteam</a>
      {% endif %}
    </li>

    <li>
      {% if app.user %}
        <a class="hover:bg-orangelec transition-all py-4 px-5 block uppercase" href="{{ path('app_logout') }}">Déconnexion</a>
      {% else %}
        <a class="hover:bg-orangelec transition-all py-4 px-5 block uppercase" href="{{ path('app_login') }}">Connexion</a>
      {% endif %}
    </li>
    <li>
      <a class="hover:bg-orangelec transition-all py-4 px-5 block uppercase" href="{{ path('register') }}">Inscription</a>
    </li>
    <li>
      {% if is_granted('ROLE_ADMIN') %}
        <a class="hover:bg-orangelec transition-all py-4 px-5 block uppercase" href="{{ path('players_list') }}">Admin</a>
      {% endif %}
    </li>
  </ul>
</nav>
